<a href="/rock">Play Rock</a><br>
<a href="/paper">Play Paper</a><br>
<a href="/scissors">Play Scissors</a>

<h1> Welcome to Rock-Paper-Scissors!</h1>

<p> From <a href="https://en.wikipedia.org/wiki/Rock_paper_scissors">Wikipedia</a>:</p>
